@charset "UTF-8";
/*IMPORTS*/
/*MISC*/
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*FIN RESET*/
html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /*margin: 5px;*/
  color: black;
  font-weight: 500; }

/*GLOBALS*/
body {
  max-width: 1080px;
  margin: 0 auto;
  background-image: url(../source/img/imagen_oficina.jpg);
  background-repeat: repeat;
  background-size: cover; }

a {
  text-decoration: none;
  color: black;
  font-weight: 500; }

h1 {
  font-size: 25px;
  text-align: center;
  color: black; }

main {
  margin-top: 20px; }

h2 {
  font-size: 25px;
  color: #020202;
  text-align: left; }

/*FIN GLOBALS*/
@keyframes gotitle {
  0% {
    opacity: 0;
    background-color: #064e7e; }
  100% {
    opacity: 1;
    background-color: #064e7e; } }

/*FIN MISC*/
/*PARTIALS*/
header {
  background-color: #064e7e; }
  header .navbar__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    header .navbar__menu li {
      list-style: none;
      margin: 5px;
      margin-left: 30px; }
    header .navbar__menu li a:hover {
      color: #ffffff;
      transition: all .3s ease-in-out;
      border: 2px solid black; }
    header .navbar__menu .navbar__menu__cursiva {
      font-style: italic;
      font-weight: bold; }
  @media screen and (max-width: 360px) {
    header .navbar__menu {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 12px; }
    header .navbar__news {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 12px;
      flex-direction: column; }
    header .navbar__servicios {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 12px;
      flex-direction: column; } }

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 15vh; }
  footer .footer__views__ubicación {
    display: flex; }
    footer .footer__views__ubicación p {
      font-style: oblique;
      text-decoration: underline; }
  footer .contacto {
    color: black;
    text-decoration: underline;
    list-style: none; }
  footer .redes img {
    width: 30px; }
  @media screen and (max-width: 360px) {
    footer footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 15px; }
      footer footer div {
        padding: 8px; }
      footer footer #footer-fix {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px; }
      footer footer #footer-fix ul {
        padding: 8px;
        align-items: flex-start;
        margin: 0%; } }

/*FIN PARTIALS*/
/*VIEWS*/
.main__index__article {
  background-image: url(../source/img/background_article.jpg);
  background-position: center;
  color: #ffffff;
  padding: 200px; }
  .main__index__article__h1 {
    margin-bottom: 50px;
    color: #ffffff;
    transform: translate(0, -100px);
    -webkit-animation-name: gotitle;
    animation-name: gotitle;
    -webkit-animation-duration: 3s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out; }
  .main__index__article__p {
    font-size: 20px;
    transform: translate(0, -100px); }

.main__index .main__index__imagen {
  width: 100%;
  margin-top: 100px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img1 p1" "img2   p2"; }
  .main__index .main__index__imagen .imagen1 {
    grid-area: img1;
    padding: 30px; }
  .main__index .main__index__imagen .imagen2 {
    grid-area: img2;
    padding: 30px; }
  .main__index .main__index__imagen .imagen__p1 {
    grid-area: p1;
    font-size: larger;
    font-weight: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px; }
  .main__index .main__index__imagen .imagen__p2 {
    grid-area: p2;
    font-size: larger;
    font-weight: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px; }
  .main__index .main__index__imagen p {
    max-width: 80%; }
  .main__index .main__index__imagen img {
    margin-left: 100px; }

@media screen and (max-width: 360px) {
  .article__index {
    padding: 10px; }
    .article__index .article__title {
      margin-top: 100px; }
    .article__index .main__index__imagen {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1, 1fr;
      grid-template-areas: "img1"  "p1"   "img2" "p2"; }
      .article__index .main__index__imagen .main__index__imagen1 {
        grid-area: img1;
        max-block-size: 300px; }
      .article__index .main__index__imagen .main__index__imagen2 {
        grid-area: img2;
        max-block-size: 300px; }
      .article__index .main__index__imagen .imagen__p1 {
        grid-area: p1; }
      .article__index .main__index__imagen .imagen__p2 {
        grid-area: p2; }
      .article__index .main__index__imagen img {
        margin: 0%; } }

/*FIN VIEWS*/
