/*NORMALIZE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    margin: 5px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

/*FIN NORMALIZE*/
body{
    max-width: 1080px;
    margin: 0 auto;
    /*background-color: #141853;*/
    background-image: url(../source/img/imagen_oficina.jpg);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0, 5fr);
    background-color: rgba(20, 146, 73, 0.466);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__menu__cursiva {
    font-style: italic;
    font-weight: bold;
}

.navbar__menu li {
    list-style: none;
    margin: 5px;
    margin-left: 30px;
}

.main__index__imagen {
    display: grid;
    grid-template-rows: repeat(3, 0, 33fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "img1 img2 img3"
        "p1   p2   p3"
    ;
}

.main__index__imagen1 {
    grid-area: img1;
}

.main__index__imagen2 {
    grid-area: img2;
}

.main__index__imagen3 {
    grid-area: img3;
}

.imagen1__p1 {
    grid-area: p1;
}

.imagen2__p2 {
    grid-area: p2;
}

.imagen3__p3 {
    grid-area: p3;
}


.main__index__imagen {
    width: 100%;
    margin-top: 100px;
}

.main__index__imagen p{
    max-width: 80%;
}

h1 {
    font-size: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}

main {
    margin-top: 20px;
}

.main__news {
    max-width: 80%;
}
.table__contenedor{
    min-height: .01%;
}

.footer__views{
    margin-top: 150px;
}

.footer__views__ubicación p {
    font-style: oblique;
    text-decoration: underline;
}

h2 {
    font-size: 25px;
    color: rgb(2, 2, 2);
    text-align: left;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
}


.contacto {
    color: black;
    text-decoration: underline;

    list-style: none;
}

li {
    list-style: none;
}

.main__nosotros__presentación h2{
    padding-bottom: 70px;
}

.main__nosotros__presentación {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,0,33fr);
    grid-template-areas:
    "titulo titulo titulo" 
    "subtitulo1 subtitulo2 subtitulo3 "
    "p1      p2      p3";
}

.main__nosotros__titulo{
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__nosotros__subtitulo1{
    grid-area: subtitulo1;
}

.main__nosotros__subtitulo2{
    grid-area: subtitulo2;
}

.main__nosotros__subtitulo3{
    grid-area: subtitulo3;
}

.main__nosotros__p1{
    grid-area: p1;
}

.main__nosotros__p2{
    grid-area: p2;
}

.main__nosotros__p3{
    grid-area: p3;
}

.main__nosotros__presentación p{
    margin-top: 50px;
}

.main__servicios__ofertas{
    display: grid;
    grid-template-columns: (4,0,25fr);
    grid-template-rows: (5,0,20fr);
    grid-template-areas: 
    "n.servicios n.servicios n.servicios n.servicios"
    "oferta1 oferta1 oferta1 oferta1"
    "oferta2 oferta2 oferta2 oferta2"
    "oferta3 oferta3 oferta3 oferta3"
    "oferta4 oferta4 oferta4 oferta4"
    ;
}

.main__servicios__ofertas h2{
    margin-bottom: 35px;
    grid-area: n.servicios;
}

.main__servicios__ofertas1{
    grid-area: oferta1;
    margin-bottom: 35px;
}

.main__servicios__ofertas2{
    grid-area: oferta2;
    margin-bottom: 35px
}

.main__servicios__ofertas3{
    grid-area: oferta3;
    margin-bottom: 35px
}

.main__servicios__ofertas4{
    grid-area: oferta3;
    margin-bottom: 35px
}

.main__servicios__ofertas h3{
    font-style: italic;
}

.main__servicios__ofertas li{
    color: black;
}

.main__contacto__form{
    display: flex;
    flex-direction: row;
}

.main__contacto__form__campos{
    display: flex;
    flex-direction: column;
}

.main__contacto__form__campos input{
    padding: 20px;
    font-size: 15px;
}
.main__contacto__form__campos select{
    padding: 20px;
    font-size: 15px;
}


/*RESPONSIVE*/
@media screen and (max-width: 360px) {
    

    .navbar__menu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 12px;
        
    }

    .article__index{
        padding: 10px;
    }

    .main__index__imagen {
        margin: 5px;
        display: grid;
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: (1,1fr);
        grid-template-areas:
            "img1" 
            "p1"  
            "img2"
            "p2"   
            "img3"
            "p3"
        ;
    }
    
    .main__index__imagen1 {
        grid-area: img1;
        max-block-size: 300px;
    }
    
    .main__index__imagen2 {
        grid-area: img2;
        max-block-size: 300px;
    
    }
    
    .main__index__imagen3 {
        grid-area: img3;
        max-block-size: 300px;

    }
    
    .imagen1__p1 {
        grid-area: p1;
    }
    
    .imagen2__p2 {
        grid-area: p2;
    }
    
    .imagen3__p3 {
        grid-area: p3;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
    }
    footer div{
        padding: 8px;
    }

    .main__nosotros__presentación {
        padding: 10px;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(7,0,14fr);
        grid-template-areas:
        "titulo titulo titulo" 
        "subtitulo1 subtitulo1 subtitulo1 "
        "p1      p1      p1"
        "subtitulo2 subtitulo2 subtitulo2 "
        "p2      p2      p2"
        "subtitulo3 subtitulo3 subtitulo3 "
        "p3      p3      p3"
        ;
    }
    
    .main__nosotros__titulo{
        grid-area: titulo;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main__nosotros__subtitulo1{
        grid-area: subtitulo1;
        
    }
    
    .main__nosotros__subtitulo2{
        grid-area: subtitulo2;
    }
    
    .main__nosotros__subtitulo3{
        grid-area: subtitulo3;
    }
    
    .main__nosotros__p1{
        grid-area: p1;
        margin-bottom: 20px;
    }
    
    .main__nosotros__p2{
        grid-area: p2;
        margin-bottom: 20px;
    }
    
    .main__nosotros__p3{
        grid-area: p3;
        margin-bottom: 20px;
    }
    
    .main__nosotros__presentación p{
        margin-top: 50px;
    }

    .table__contenedor {
        font-size: 13px;
    
   }

   .main__contacto__form{
       display: grid;
       grid-template-columns: (1,1fr);
       grid-template-rows: repeat(3,0,33fr) ;
       grid-template-areas: 
       "titulo"
       "img"
       "formulario"
       ;
   }

   .encabezado__form{
       grid-area: titulo;

   }

   .contenedor__imgcontacto{
       grid-area: img;
       
   }

   .contenedor__formulario{
       grid-area: formulario;
   }

   .main__contacto__form__titulo{
       display: flex;
       max-width: 100px;
   }
   .contenedor__imgcontacto{
       display: flex;
       max-width: 100px;
   }
}
