<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/main.css" </head> <body>
    <h1>Savings Managament</h1>
    <div>
        <p>Simplificamos la administración de tu dinero</p>
    </div>
    <p id="fraseAlerta"></p>
    <p id="fraseDespedida"></p>
    <div id="divValoracion">
        <p>Valorando la app nos ayudas a mejorar</p>
        <form>
            <label for="Valorar">VALORAR</label>
            <select name="Rangos" id="Rangos">
                <option value="Muy buena">Muy Buena</option>
                <option value="Buena">Buena</option>
                <option value="Mala">Mala</option>
            </select>
            <button id="sendButton">ENVIAR</button>
        </form>
    </div>
    <script src="../../js/main.js"></script>
    </body>

</html>