<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <title>Estudio Roman y Asociados</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body class="body__contacto">
    <header>
        <nav class="navbar">
            <a class="navbar__logo" href="../../index.html"><img src="../img/logo.png" alt="logo corporativo"></a>
            <ul class="navbar__menu">
                <li>
                    <a class="navbar__menu__1" href="../../index.html">Inicio</a></li>
                <li>
                    <a class="navbar__menu__2" href="nosotros.html">Nosotros</a></li>
                <li>
                    <a class="navbar__menu__3" href="servicios.html">Servicios</a></li>
                <li>
                    <a class="navbar__menu__4" href="news.html">News</a></li>
            </ul>
        </nav>
    </header>
    <main class="main__contacto">
        <section class="main__contacto__form">
            <div class="encabezado__form">
                <h2 class="main__contacto__form__titulo">COMPLETA EL FORMULARIO Y TE CONTACTAREMOS</h2>
            </div>
            <div class="contenedor__imgcontacto">
                <picture class="main__contacto__form__img"> <img src="../img/imagen_contactos.webp"
                        alt="imagen que simboliza medios de contacto"> </picture>
            </div>
        </section>
        <section class="contenedor__formulario">
            <form class="main__contacto__form__campos" action="" method="post" enctype="">
                <input type="text" name="Nombre" id="" placeholder="Nombre">
                <input type="text" name="Teléfono" id="" placeholder="Teléfono">
                <input type="email" name="Email" id="" placeholder="Email">
                <label for="Tipo de consulta">Tipo de Consulta</label>
                <select name="Tipo de consulta" id="Tipo de consulta">
                    <option value="Particular">Particular</option>
                    <option value="Empresa">Empresa</option>
                </select>
            </form>
        </section>
    </main>
    <footer class="footer__views">
        <div class="footer__views__ubicación">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
                viewBox="0 0 16 16">
                <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <p>Dónde encontrarnos? San Martin 123</p>
        </div>
        <div>
            <ul>
                <li>
                    <a class="contacto" href="contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
        <div>
            <a class="redes" href="https://www.facebook.com/rodrigo.arganaraz.92/"> <img src="../img/redes_facebook.svg"
                    alt="imagen de redes sociales"></a>
        </div>
    </footer>
</body>

</html>