<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <title>Estudio Roman y Asociados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <header>
        <nav class="navbar__news">
            <a class="navbar__logo" href="../../index.html"><img src="../img/logo.png" alt="logo lorem ipsum"></a>
            <ul class="navbar__menu__news">
                <li>
                    <a class="navbar__menu__2" href="../../index.html">Inicio</a></li>
                <li>
                    <a class="navbar__menu__3" href="nosotros.html">Nosotros</a></li>
                <li>
                    <a class="navbar__menu__4" href="servicios.html">Servicios</a></li>
                <li>
                    <a class="navbar__menu__cursiva" href="news.html">News</a></li>
            </ul>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">RENTAS JUJUY</h5>
                        <p class="card-text">Ingresá para acceder al calendario de vencimientos impositivos</p>
                        <a href="https://www.rentasjujuy.gob.ar/vencimientos/" class="btn btn-primary">Ir al sitio</a>
                    </div>
                </div>

                <div class="card text-center" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">AFIP</h5>
                        <p class="card-text">Se encuentran habilitadas las presentaciones de dj 2021</p>
                        <a href="https://www.afip.gob.ar/landing/default.asp" class="btn btn-primary">Ir al sitio</a>
                    </div>
                </div>

                <div class="card text-end" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">EMPRENDEDORES NEWS</h5>
                        <p class="card-text">Enterate de las ultimas novedades de emprendedorismo</p>
                        <a href="https://emprendedoresnews.com/" class="btn btn-primary">Ir al sitio</a>
                    </div>
                </div>

                <div class="img__news">
                    <img class="img__news1" src="../img/rentas_jujuy.jpg" alt="logo de rentas jujuy">
                    <img class="img__news2" src="../img/afip.jpg" alt="logo de afip">
                    <img class="img__news3" src="../img/emprendedores_news.jpg" alt="logo de la revista emprendedores news">
                </div>
    </main>
    <footer class="footer__views">
        <div class="footer__views__ubicación">
            <p>Dónde encontrarnos? San Martin 123</p>
        </div>
        <div>
            <ul>
                <li>
                    <a class="contacto" href="contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
        <div>
            <a class="redes" href="https://www.facebook.com/rodrigo.arganaraz.92/"> <img src="../img/redes.jpg"
                    alt="imagen de redes sociales"></a>
        </div>
        </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
</body>

</html>