<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="CONTADORES,ADMINISTRADORES,MISION,VISION,VALORES,TRAYECTORIA,JUJUY,">
    <meta name="description"
        content="Contamos con un staff de contadores, administradores y administrativos capacitados y formados para ofrecer un servicio de calidad, realizando nuestro trabajo en base a la mision que establecimos y a los valores que fomentamos">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <title>Estudio Roman y Asociados</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <a class="navbar__logo" href="../../index.html"><img src="../img/logo.png" alt="logo lorem ipsum"></a>
            <ul class="navbar__menu">
                <li>
                    <a class="navbar__menu__2" href="../../index.html">Inicio</a></li>
                <li>
                    <a class="navbar__menu__cursiva" href="nosotros.html">Nosotros</a></li>
                <li>
                    <a class="navbar__menu__3" href="servicios.html">Servicios</a></li>
                <li>
                    <a class="navbar__menu__4" href="news.html">News</a></li>
            </ul>
        </nav>
    </header>
    <main class="main__nosotros">
        <section class="main__nosotros__presentación">
            <div class="main__nosotros__titulo">
                <h2>SOBRE NOSOTROS</h2>
            </div>
            <div class="main__nosotros__subtitulo1">
                <h3>Misión</h3>
                <p class="main__nosotros__p1">Consectetur laboris et cupidatat veniam dolore aute minim in pariatur
                    culpa
                    aute minim. In tempor aliquip
                    enim deserunt laborum qui ad non officia irure. Amet dolore mollit cillum occaecat voluptate dolore
                    elit
                    ut
                    duis cillum veniam. Consectetur incididunt reprehenderit officia magna. Cillum do dolore non et
                    consectetur
                    occaecat id. Mollit ullamco aliqua cupidatat id. Aliqua tempor labore fugiat excepteur esse dolore
                    irure
                    tempor cillum. Voluptate exercitation est nostrud amet dolor aliqua incididunt aute elit
                    exercitation
                    officia aute. Esse voluptate amet aute qui est deserunt est anim cillum consectetur. Pariatur sit
                    dolore
                    non
                    quis id officia pariatur adipisicing.</p>
            </div>
            <div class="main__nosotros__subtitulo2">
                <h3>Visión</h3>
                <p class="main__nosotros__p2">Consectetur laboris et cupidatat veniam dolore aute minim in pariatur
                    culpa
                    aute minim. In tempor aliquip
                    enim deserunt laborum qui ad non officia irure. Amet dolore mollit cillum occaecat voluptate dolore
                    elit
                    ut
                    duis cillum veniam. Consectetur incididunt reprehenderit officia magna. Cillum do dolore non et
                    consectetur
                    occaecat id. Mollit ullamco aliqua cupidatat id. Aliqua tempor labore fugiat excepteur esse dolore
                    irure
                    tempor cillum. Voluptate exercitation est nostrud amet dolor aliqua incididunt aute elit
                    exercitation
                    officia aute. Esse voluptate amet aute qui est deserunt est anim cillum consectetur. Pariatur sit
                    dolore
                    non
                    quis id officia pariatur adipisicing.</p>
            </div>
            <div class="main__nosotros__subtitulo3">
                <h3>Objetivos</h3>
                <p class="main__nosotros__p3">Consectetur laboris et cupidatat veniam dolore aute minim in pariatur
                    culpa
                    aute minim. In tempor aliquip
                    enim deserunt laborum qui ad non officia irure. Amet dolore mollit cillum occaecat voluptate dolore
                    elit
                    ut
                    duis cillum veniam. Consectetur incididunt reprehenderit officia magna. Cillum do dolore non et
                    consectetur
                    occaecat id. Mollit ullamco aliqua cupidatat id. Aliqua tempor labore fugiat excepteur esse dolore
                    irure
                    tempor cillum. Voluptate exercitation est nostrud amet dolor aliqua incididunt aute elit
                    exercitation
                    officia aute. Esse voluptate amet aute qui est deserunt est anim cillum consectetur. Pariatur sit
                    dolore
                    non
                    quis id officia pariatur adipisicing.</p>
            </div>

        </section>
    </main>
    <footer class="footer__views">
        <div class="footer__views__ubicación">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
                viewBox="0 0 16 16">
                <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <p>San Martin 123</p>
        </div>
        <div class="contenedor__contacto">
            <ul>
                <li>
                    <a class="contacto" href="contacto.html"><img src="../img/correo-electronico.svg" alt=""></a>
                </li>
            </ul>
        </div>
        <div>
            <a class="redes" href="https://www.facebook.com/rodrigo.arganaraz.92/"> <img src="../img/redes_facebook.svg"
                    alt="imagen de redes sociales"></a>
        </div>
    </footer>
</body>

</html>