<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <title>Estudio Roman y Asociados</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <a class="navbar__logo" href="../../index.html"><img src="../img/logo.png" alt="logo lorem ipsum"></a>
            <ul class="navbar__menu">
                <li>
                    <a class="navbar__menu__2" href="../../index.html">Inicio</a></li>
                <li>
                    <a class="navbar__menu__cursiva" href="nosotros.html">Nosotros</a></li>
                <li>
                    <a class="navbar__menu__3" href="servicios.html">Servicios</a></li>
                <li>
                    <a class="navbar__menu__4" href="news.html">News</a></li>
            </ul>
        </nav>
    </header>
    <main class="main__nosotros">
        <section class="main__nosotros__presentación">
            <h2 class="main__nosotros__titulo">SOBRE NOSOTROS</h2>
            <h3 class="main__nosotros__subtitulo1">Misión</h3>
            <p class="main__nosotros__p1">Consectetur laboris et cupidatat veniam dolore aute minim in pariatur culpa
                aute minim. In tempor aliquip
                enim deserunt laborum qui ad non officia irure. Amet dolore mollit cillum occaecat voluptate dolore elit
                ut
                duis cillum veniam. Consectetur incididunt reprehenderit officia magna. Cillum do dolore non et
                consectetur
                occaecat id. Mollit ullamco aliqua cupidatat id. Aliqua tempor labore fugiat excepteur esse dolore irure
                tempor cillum. Voluptate exercitation est nostrud amet dolor aliqua incididunt aute elit exercitation
                officia aute. Esse voluptate amet aute qui est deserunt est anim cillum consectetur. Pariatur sit dolore
                non
                quis id officia pariatur adipisicing.</p>
            <h3 class="main__nosotros__subtitulo2">Visión</h3>
            <p class="main__nosotros__p2">Consectetur laboris et cupidatat veniam dolore aute minim in pariatur culpa
                aute minim. In tempor aliquip
                enim deserunt laborum qui ad non officia irure. Amet dolore mollit cillum occaecat voluptate dolore elit
                ut
                duis cillum veniam. Consectetur incididunt reprehenderit officia magna. Cillum do dolore non et
                consectetur
                occaecat id. Mollit ullamco aliqua cupidatat id. Aliqua tempor labore fugiat excepteur esse dolore irure
                tempor cillum. Voluptate exercitation est nostrud amet dolor aliqua incididunt aute elit exercitation
                officia aute. Esse voluptate amet aute qui est deserunt est anim cillum consectetur. Pariatur sit dolore
                non
                quis id officia pariatur adipisicing.</p>
            <h3 class="main__nosotros__subtitulo3">Objetivos</h3>
            <p class="main__nosotros__p3">Consectetur laboris et cupidatat veniam dolore aute minim in pariatur culpa
                aute minim. In tempor aliquip
                enim deserunt laborum qui ad non officia irure. Amet dolore mollit cillum occaecat voluptate dolore elit
                ut
                duis cillum veniam. Consectetur incididunt reprehenderit officia magna. Cillum do dolore non et
                consectetur
                occaecat id. Mollit ullamco aliqua cupidatat id. Aliqua tempor labore fugiat excepteur esse dolore irure
                tempor cillum. Voluptate exercitation est nostrud amet dolor aliqua incididunt aute elit exercitation
                officia aute. Esse voluptate amet aute qui est deserunt est anim cillum consectetur. Pariatur sit dolore
                non
                quis id officia pariatur adipisicing.</p>
        </section>
    </main>
    <footer>
        <div>
            <p>Dónde encontrarnos? San Martin 123</p>
        </div>
        <div>
            <ul>
                <li>
                    <a class="contacto" href="contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
        <div>
            <a class="redes" href="https://www.facebook.com/rodrigo.arganaraz.92/"> <img src="../img/redes.jpg"
                    alt="imagen de redes sociales"></a>
        </div>
    </footer>
</body>

</html>