header {
    .navbar__menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            list-style: none;
            margin: 5px;
            margin-left: 30px;
        }

        li a:hover {
            color: #064e7e;
            transition: all .3s ease-in-out;
            border: 2px solid rgb(0, 0, 0);
        }

        .navbar__menu__cursiva {
            font-style: italic;
            font-weight: bold;
        }
    }

    .navbar__news {
        max-height: 130px;

        ul {
            padding: 0%
        }
    }

    .navbar__menu__news {
        @extend .navbar__menu;

        li {
            list-style: none;
            margin: 5px;
            margin-left: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        li a:hover {
            color: #064e7e;
            transition: all .3s ease-in-out;
            border: 2px solid rgb(0, 0, 0);
        }

        .navbar__menu__cursiva {
            font-style: italic;
            font-weight: bold;
        }
    }

    .navbar__servicios {
        max-height: 130px;

        ul {
            padding: 0%
        }
    }

    .navbar__menu__servicios {
        @extend .navbar__menu__news;

        li {
            list-style: none;
            margin: 5px;
            margin-left: 30px;
        }

        li a:hover {
            color: #064e7e;
            transition: all .3s ease-in-out;
            border: 2px solid rgb(0, 0, 0);
        }

        .navbar__menu__cursiva {
            font-style: italic;
            font-weight: bold;
        }
    }









    @media screen and (max-width: 360px) {
        .navbar__menu {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 12px;
        }

        .navbar__news {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 12px;
            flex-direction: column;
        }

        .navbar__servicios {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 12px;
            flex-direction: column;
            max-width: 300px;
        }
    }
}