.main__nosotros {
    .main__nosotros__presentación {
        p {
            margin-top: 35px;
        }

        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: (1fr);
        grid-template-areas: "titulo titulo titulo"
        "subtitulo1 subtitulo2 subtitulo3"
        "p1      p2      p3";
        gap: 10px;

        .main__nosotros__titulo {
            grid-area: titulo;
        }

        .main__nosotros__subtitulo1 {
            grid-area: subtitulo1;
            margin-top: 30px;
        }

        .main__nosotros__subtitulo2 {
            grid-area: subtitulo2;
            margin-top: 30px;

        }

        .main__nosotros__subtitulo3 {
            grid-area: subtitulo3;
            margin-top: 30px;
        }

        .main__nosotros__p1 {
            grid-area: p1;
        }

        .main__nosotros__p2 {
            grid-area: p2;
        }

        .main__nosotros__p3 {
            grid-area: p3;
        }
    }
}
@media screen and (max-width: 360px) {
    .main__nosotros {
        .main__nosotros__presentación {
            display: flex;
            flex-direction: column;
            .main__nosotros__subtitulo1 {
                margin-top: 50px;
            }
        
            .main__nosotros__subtitulo2 {
                margin-top: 30px;
            }
        
            .main__nosotros__subtitulo3 {
                margin-top: 30px;
            }
        }
    }
}
@media screen and (max-width: 720px) {
    .main__nosotros {
        .main__nosotros__presentación {
            display: flex;
            flex-direction: column;
            .main__nosotros__subtitulo1 {
                margin-top: 50px;
            }
        
            .main__nosotros__subtitulo2 {
                margin-top: 30px;
            }
        
            .main__nosotros__subtitulo3 {
                margin-top: 30px;
            }
        }
    }
}
