.body__contacto {
    background: linear-gradient(to bottom, #ebebeb, #57e4bc);

    .main__contacto__form {
        display: flex;
        flex-direction: column;

        img {
            width: 800px;
        }
    }

    .contenedor__formulario {
        .main__contacto__form__campos {
            display: flex;
            flex-direction: column;

            input {
                padding: 20px;
                font-size: 15px;
            }

            label {
                margin-top: 20px;
            }

            select {
                padding: 20px;
                font-size: 15px;
                margin-top: 20px;
            }
        }
    }
}


@media screen and (max-width: 720px) {
    .body__contacto {
        background: linear-gradient(to bottom, #ebebeb, #57e4bc);

        .main__contacto__form {
            display: flex;
            flex-direction: column;

            img {
                width: 400px;
            }
        }


        .contenedor__formulario {
            .main__contacto__form__campos {
                display: flex;
                flex-direction: column;

                input {
                    padding: 20px;
                    font-size: 15px;
                }

                label {
                    margin-top: 10px;
                }

                select {
                    padding: 20px;
                    font-size: 15px;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .body__contacto {
        background: linear-gradient(to bottom, #ebebeb, #57e4bc);

        .main__contacto__form {
            display: flex;
            flex-direction: column;

            img {
                width: 300px;
            }
        }

        .contenedor__formulario {
            .main__contacto__form__campos {
                display: flex;
                flex-direction: column;

                input {
                    padding: 20px;
                    font-size: 15px;
                }

                label {
                    margin-top: 10px;
                }

                select {
                    padding: 20px;
                    font-size: 15px;
                    margin-top: 10px;
                }
            }
        }
    }
}