.body__contacto {
    background: linear-gradient(to bottom, #ebebeb, #57e4bc);

    .main__contacto__form {
        display: flex;
        flex-direction: column;

        img {
            width: 800px;
        }
    }

    .contenedor__formulario {
        .main__contacto__form__campos {
            display: flex;
            flex-direction: column;

            input {
                padding: 20px;
                font-size: 15px;
            }

            select {
                padding: 20px;
                font-size: 15px;
            }
        }
    }

    @media screen and (max-width: 360px) {

        .main__contacto__form {
            display: grid;
            grid-template-columns: (1, 1fr);
            grid-template-rows: repeat(3, 0, 33fr);
            grid-template-areas:
                "titulo"
                "img"
                "formulario"
            ;

            .encabezado__form {
                grid-area: titulo;

                h2 {
                    display: flex;
                }
            }

            .contenedor__imgcontacto {
                grid-area: img;
            }

            .main__contacto__form__img {
                img {
                    width: 300px;
                }
            }
        }

        .contenedor__formulario {
            grid-area: formulario;
        }
    }
}